* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

body a {
  text-decoration: none;
  color: #ffffff;
}

nav {
  background-color: #4c8ae5;
  color: #ffffff;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.75);
}

.nav-div {
  width: 80%;
  margin: auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-div {
  text-decoration: none;
}

.nav-button {
  display: flex;
  cursor: pointer;
}

.nav-button p {
  margin-left: 1rem;
  padding: 0.6rem;
}

.nav-button p:last-child {
  background-color: #474748;
  border-radius: 3px;
}

.title-div {
  height: 60px;
  color: #ffffff;
  font-size: 1.8rem;
  background-color: #474748;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 2px 2px 8px 0px rgba(50, 50, 50, 0.75);
}

.title-header {
  width: 80%;
  margin: auto;
}

.main {
  min-height: 50vh;
  width: 80%;
  margin: auto;
  display: flex;
}

.series,
.movies {
  background-color: #474748;
  color: #ffffff;
  border-radius: 5px;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular {
  margin-top: 0.8rem;
  color: #474748;
}

.series-div,
.movies-div {
  margin: 3rem 2rem;
  cursor: pointer;
}

footer {
  background-color: #474748;
  color: #ffffff;
  height: 32.7vh;
}

.footer-div {
  width: 80%;
  margin: auto;
}

.footer-div ul {
  display: flex;
  font-size: 1.1rem;
  padding-top: 3rem;
}

.footer-div ul li {
  list-style: none;
  margin-right: 1rem;
  cursor: pointer;
}

.footer-div p {
  padding-top: 2rem;
}

.item-main {
  width: 80%;
  margin: 2rem auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.item-series img {
  border-radius: 5px;
}

.item-series p {
  text-align: center;
  padding-top: 0.6rem;
}

.spinner-div {
  height: 50vh;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
